@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$primary-color: #945fef;
$secondary-color: #7bbeff;

$error-color: #ff3565;
$error-bg-color: #ffc6d3;

$success-color: #31d21e;
$success-bg-color: #ccffc6;

$primary-font: 'Lato', sans-serif;
$bg-color: lighten( $primary-color, 15% );

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:focus{ outline: none; }

.strong {
    font-weight: 700;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: $primary-font;
    min-height: 100%;
}
