@import 'styles/main.scss';

.App {
    text-align: center;
    color: $primary-color;
}

.App-logo {
    height: 40px;
}

.App-header {
    height: 40px;
    padding: 20px 0 10px;
}

.App-title {
    color: $primary-color;
}

.App-searchbar {
    position: relative;
    box-sizing: border-box;
    width: 300px;
    margin: 0 auto;
}

.App-searchbar-input {
    width: 100%;
    box-sizing: border-box;
    background-color: lighten( $primary-color, 30% );
    color: darken( $primary-color, 10% );
    border: none;
    border-radius: 30px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.3s;
    text-transform: uppercase;

    &:focus {
        background-color: lighten( $primary-color, 25% );
    }
}

.App-helptext {
    font-size: 12px;
    font-weight: 700;
    color: $primary-color;
}

.App-contacts {
    max-width: 500px;
    margin: 20px auto;
}

.App-contact {
    padding: 16px 32px;
    background-color: lighten( $primary-color, 30% );
    border-radius: 8px;
    margin: 10px 0;
}

.App-contact__content {
    display: flex;
    justify-content: space-between;
}

.App-contact__actions {
    width: 100px;
}

.App-contact__data {
    line-height: 32px;
    text-transform: uppercase;
    font-size: 14px;
}

.App-button {
    display: inline-block;
    padding: 8px 16px;
    background: $primary-color;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }

    &.outlined {
        color: $primary-color;
        background: lighten( $primary-color, 33% );
        border: 1px solid $primary-color;
    }
}

.App-message-area {
    resize: none;
    border: none;
    margin: 16px 0 8px;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    background: lighten( $primary-color, 25% );
    border-radius: 8px;
    height: 80px;
    color: $primary-color;
    font-weight: 700;
    font-size: 12px;
    transition: all 0.3s;

    &:focus {
        background: lighten( $primary-color, 23% );
    }
}

.App-message-actions {
    display: flex;
    justify-content: center;

    .App-button + .App-button {
        margin-left: 8px;
    }
}

.App-alert {
    position: fixed;
    bottom: 30px;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    background: $bg-color;
    color: $primary-color;
    padding: 16px 32px;
    border-radius: 8px;

    &.error {
        background: $error-bg-color;
        color: $error-color;
    }

    &.success {
        background: $success-bg-color;
        color: $success-color;
    }
}
